<mat-card class="example-card center-card" appearance="outlined">

    <div>
        <img mat-card-image [src]="freesampledata.pei_ecomImage" alt="Photo of a Shiba Inu">
    </div>
    <div class="add-to-cart">


        <button mat-stroked-button mat-button color="primary" (click)="buyFreeSample()" [disabled]="isLoading" class="button-with-loader">
            <mat-spinner *ngIf="isLoading" [diameter]="20"></mat-spinner>
            <span>Buy Freesample
            <span *ngIf="freesampledata?.free_sample_price > 0">
                - {{ freesampledata.currencySymbol }} {{ freesampledata.free_sample_price }}
            </span></span>
        </button>
        <button mat-stroked-button mat-button color="primary" (click)="addToCart()" [disabled]="isAddingToCart" class="button-with-loader">
            <mat-spinner *ngIf="isAddingToCart" [diameter]="20"></mat-spinner>
            <span>Add to Cart</span>
        </button>
    </div>

</mat-card>