
.related-products-container {
  margin-top: 10px;
  padding: 10px 0;
  border-top: 1px solid #eee;

  background: var(--card-bg);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--border-color);
}

.related-products-headcontainer {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 0 15px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rp-title {
  color: var(--primary-color);
  font-size: 17px;
  margin-bottom: 15px;
}

/* Owl Carousel item wrapper */
.owl-carousel .owl-item {
  display: flex;
  justify-content: center;
}

.related-product-card {
  width: 100%;
  max-width: 230px;
  background: #fff;
  border-radius: 10px;
  margin: 5px 0;
  padding: 10px 0;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.08);
  transition: 0.3s;
  text-align: center;
}

.related-product-card:hover {
  transform: translateY(-4px);
  box-shadow: 0px 6px 14px rgba(0,0,0,0.12);
}

.rp-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

/* Image box */
.rp-image-box {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  border-radius: 8px;
  overflow: hidden;
}

.rp-image-box img {
  width: auto;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.rp-info {
  margin-top: 10px;
}

.rp-name {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
}

.rp-fabric,
.rp-color {
  font-weight: 400;
  opacity: 0.85;
}

.rp-price {
  font-size: 15px;
  margin-top: 6px;
  font-weight: 700;
  color: var(--primary-color);
}

.related-products-container .owl-prev,
.related-products-container .owl-next {
  background: var(--primary-color) !important;
}

.owl-nav button {
  font-size: 22px !important;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #fff !important;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.15);
}

.slider-container button {
  border: unset;
}

.related-products-grid {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-column-gap: 10px;
}

::ng-deep mat-button-toggle-group.viewmode {
  margin: 0 10px;
}
