@use '@angular/material' as mat;


$brand-primary: #00C2FF; 


$custom-primary: mat.define-palette((
  50:  lighten($brand-primary, 45%),
  100: lighten($brand-primary, 35%),
  200: lighten($brand-primary, 25%),
  300: lighten($brand-primary, 15%),
  400: lighten($brand-primary, 8%),
  500: $brand-primary,          
  600: darken($brand-primary, 5%),
  700: darken($brand-primary, 10%),
  800: darken($brand-primary, 15%),
  900: darken($brand-primary, 20%),
  contrast: (
    500: #ffffff,
    700: #ffffff,
    900: #ffffff
  )
));

$custom-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);


$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
  )
));

@include mat.all-component-themes($custom-theme);

:root {
  --primary-color: #{$brand-primary}; 
}
