/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins', sans-serif!important; }
.mat-h1, .mat-headline, .mat-typography h1{
    font-family: 'Poppins', sans-serif!important; 
}
.mat-input-element {
    caret-color: var(--primary-color) !important;
}

.mat-form-field-required-marker {
    color: red !important;
}
.tooltip-container-sub a{
    color: blue!important;
    text-decoration: none;
}

.mat-form-field, .mat-form-field * {
    font-size: 14px !important;
}
.mat-label, .mat-form-field-label, .mat-input-element {
    font-size: 14px !important;
}
.mat-button-toggle-label-content {
    font-size: 14px;
}