/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins', sans-serif!important; }

.mat-input-element {
    caret-color: var(--primary-color) !important;
}

.mat-form-field-required-marker {
    color: red !important;
}
.tooltip-container-sub a{
    color: blue!important;
    text-decoration: none;
}
.owl-item:first-child .frame-card{
    margin-left:15px;
}
